@font-face {
    font-family: "Michroma";
    src: url(Fonts/Michroma.ttf);
}
html, body {
    background-color: rgba(0, 0, 0, 1);
    padding: 0;
    margin: 0;
    font-family: Michroma;
}
a {
    text-decoration: none;
    color: rgba(0, 0, 0, 1);
}
#linkBar {
    background-color: rgba(255, 255, 255, 1);
    position: fixed;
    top: 0;
    left: 0;
    height: 5vw;
    width: 100vw;
}
#homepageLink {
    position: inherit;
    height: 3vw;
    width: auto;
    margin-inline: 1vw;
    margin-top: 1vw;
}
#linkBarButton {
    position: static;
    float: right;
    margin-inline: 2vw;
}
